# OpenAI API configuration

# OPENAI_API_KEY="your_openai_api_key_here"
# OPENAI_API_BASE="url_to_your_openai_api_base_here" #https://160a-3.ngrok-free.app/v1/
# GENERATE_RESPONSE_MODEL="model to generate response"
# EMBEDDINGS_MODEL="embedding model"
# EMBEDDING_DIMENSION=
# MAX_INPUT_TOKENS=
# MAX_RESPONSE_TOKENS=
# TEMPERATURE=

#vector database configuration

# VECTOR_DB_PATH=
# VECTOR_DISTANCE_METRIC=

# LLM Provider ("ollama" or "gemini")
LLM_PROVIDER="gemini"

# Gemini API configuration
GEMINI_BASE_URL="https://generativelanguage.googleapis.com"
GEMINI_API_KEY="your_gemini_api_key_here"
GEMINI_MODEL="gemini-2.5-flash"
